<div class="container">
  
  <!-- Header -->
  <div id="app-content">
    <header>
      <nav>
        <ul>
          <li><img src="./assets/icons/btn-min.png" id="min" (click)="minimizeWindow()"></li>
          <li><img src="./assets/icons/btn-close.png" id="close" (click)="closeWindow()"></li>
        </ul>
      </nav>
    </header>

    <!-- Content -->
    <main>
      <div class="dropzone" fileDrop
        (filesDropped)="handleDrop($event)"
        (filesHovered)="handleHover($event)"
        [ngClass]="{'active': dropzoneActive}">
        <i class="fa fa-cloud-upload fa-2x"></i>
      </div>
      <ul>
        <li *ngFor="let file of files">{{ file.path }}</li>
      </ul>
    </main>
  </div>
</div>
