.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

  .dropzone {
    height: 200px;
    width: 50%;
    border: 1px solid black;
    margin: 0 auto;
  }

}
