/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.container {
  align-items: baseline !important;
  justify-content: flex-end !important;

  #app-content {
    width: 100%;
    height: 100%;
  }

  header {
    display: grid;
    
    // set drag to window due to frameless window
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;

    nav {
      justify-self: right;
      padding: 5px;
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          float: left;
          margin-left: 10px;

          img {
            width: 20px;
            cursor: pointer;
          }
        }
      }    
    }
  }

  main {
    .upload-box {
      margin: 0 auto;
      width: 75%;
      min-height: 300px;
      background-color: white;
      outline: 2px dashed black;
      outline-offset: -10px;
      cursor: default;

      &.is-dragover {
        background-color: grey;
      }

      .box__input {
        height: 100%;
      }

      .box__dragndrop {
        display: inline;
      }

      .box__file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        
        & + label {
          font-size: 1.25em;
          cursor: pointer;
          font-weight: 700;
          color: white;
          background-color: black;
          display: inline-block;
        }
      }

      .box__uploading,
      .box__success,
      .box__error {
        display: none;
      }
    }    
  }
}

// Avoid drag on input elements
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea,
nav li {
	-webkit-app-region: no-drag;
}
